:root {
    --color-primary: #333;
    --color-secondary: #444;
    --color-bg: #C2FDD4;
    --bg-toggle: url('../img/light.svg') no-repeat center center / cover;
}

:root[data-theme="dark"] {
    --color-primary: #fff;
    --color-secondary: #333;
    --color-bg: #9AB5EC;
    --bg-toggle: url('../img/dark.svg') no-repeat center center / cover;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.wrapper {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    height: 100vh;
}

.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    padding-inline: 15px;
    margin: 0 auto;
}

.toggle {
    width: 200px;
    height: 90px;
    padding: 10px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    background: var(--bg-toggle);
    transition: all 0.5s ease;
}
.toggle__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.toggle__indicator {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background: url("../img/sun.svg") no-repeat center center / contain;
    border-radius: 50%;
    z-index: 1;
    transition: all 0.5s ease;
}
.toggle__button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}
#toggle__input {
    display: none;
}
#toggle__input:checked + .toggle__indicator {
    background: url("../img/moon.svg") no-repeat center center / contain;
    right: 100%;
    translate: 100% 0;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: right;
}

.form {
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 20px;
}

.form__control {
    padding-left: 10px;
    height: 40px;
    border: 2px solid var(--color-bg);
    border-radius: 5px;
    box-shadow: none;
}

.form__button {
    padding: 10px 20px;
    color: var(--color-secondary);
    border: 2px solid transparent;
    background-color: var(--color-bg);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form__button:hover {
    background-color: transparent;
    border-color: var(--color-bg);
}

.error {
    font-size: 12px;
    color: darkred;
}