@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

/* 1. Для всього документу встановіть наступний шрифт: назва serif, розмір 14px, міжрядковий інтервал 1.25, колір #777;  */
html {
    font-family: serif;
    font-size: 14px;
    line-height: 1.25;
    color: #777;
}

/* 2. Для всіх вкладених списків встановіть курсивний жирний шрифт */
ul ul {
    font-weight: 700;
    font-style: italic;
}

/* 3. встановіть на всі заголовки шрифт 'Cormorant Infant' (serif - у якості "підстраховки"), міжлітерний інтервал 0.5px і колір текста чорний а також встановіть такий режим написання щоб кожне слово починалось з заглавної букви */
h1,
h2,
h3,
h4,
h5 {
    font-family: Cormorant Infant, serif;
    letter-spacing: 0.5px;
    color: #000;
    text-transform: capitalize;
}

/* 4. Після застосування зовнішнього шрифту стало зрозуміло що він досить малий - збільшість заголовки першого рівня до 32px */
h1 {
    font-size: 32px;
}

/* 5. Заголовки другого рівня зробіть 26px */
h2 {
    font-size: 26px;
}

/* 6. Для другого абзацу за класом встановіть подвійний міжрядковий інтервал. */
.double-line {
    line-height: 2;
}

/* 7. Додайте клас mail-box до div що навколо пошти і задайте наступні йому властивості:
- ширину 150px
- задній фон кольору #E3FFF6
- рамку товщиною 5 пікселів і кольору #C2E4C2
- внутрішні відступи: горизонтальні 20px, вертикальні 5px
- відразу перейдіть до п.8
*/
.mail-box {
    width: 150px;
    background-color: #E3FFF6;
    border: 5px solid #C2E4C2;
    padding: 5px 20px;
}

/* 8. Чому зелений блок зверху довжиною теж 150 пікселів виглядає коротше ніж наш блок?
Виправте ситуацію і заставте блок стати вказаною довжиною - 150 пікселя і не більше (спеціальна CSS-властивість блочної моделі ) */
* {
    box-sizing: border-box;
}

/* 9. У нас лишилась ще одна проблема - наш емейл виліз за рамки нашого блоку. Заставте текст пошти ламатись там де треба щоб поміститись у блок хай і у кілька рядків */
.mail-box {
    white-space: normal;
    overflow-wrap: break-word;
}

/* 10. Останній штрих - перша буква імейла лишилась на першому рядку бо помістилась. Заставте емейл починатись з нового рядку. Це можна зробити як мінімум 2ма способами: 1) додати розрив рядку тегом у HTML 2) перетворити лінк що у .mail-box у блочний елемент стилем CSS за допомогою властивості display: block */
.mail-box a {
    display: block;
}

/* 11. Усі абзаци вирівняте по ширині (з обох боків) */
p {
    text-align: justify;
}

/* 12. Списку наших переваг .our-adv встановіть наступні стилі:
- задайте фоном зображення файл 'http://picsum.photos/id/357/700/400?blur=5'
- встановіть верхній внутрішній відступ у 30 пікселів, нижній - 60.
- колір тексту задайте білий
- шрифт 16 пікселів */
.our-adv {
    background-image: url('http://picsum.photos/id/357/700/400?blur=5');
    padding: 30px 30px 60px;
    color: white;
    font-size: 16px;
}

/* 13. Задній фон встановився, але зображення може повторюватися кілька разів на широкому моніторі. Зробіть так щоб задній фон займав всю можливу ширину але зберігав свої пропорції. Після цього ви побачите що у вас відображається лише верхня частина зображення годинника -  зробіть так щоб завжди відображалась центральна частина */
.our-adv {
    background-size: cover;
    background-position: center center;
}

/* 14. Задайте усім заголовкам другого рівня верхній зовнішній відступ у 60 пікселів, нижній - у 0 пікселів */
h2 {
    margin-top: 60px;
    margin-bottom: 0;
}

/* Додаткове завдання */

/* Чому коли ми задали нижні відступи заголовкам у нас все одно є відступ між заголовками знизу і наступним блоком? Який він точно? Дослідіть за допомогою Chrome DevTools (клавіша F12) панелі Styles */

/* Зайдіть на сайт Google Fonts: 1) оберіть там будь який інший шрифт 2) розберіться самостійно як встановити його для всього тексту (окрім заголовків). Подивіться як ми підключили шрифт для заголовків - шукайте такий самий спосіб інтеграції. Шрифт можете обрати самі який сподобається або цей: 'PT Sans Narrow'  */
html {
    font-family: "Bitcount Grid Single", serif;
}

/* СЛУЖБОВІ СТИЛІ - НЕ ЗВЕРТАТИ УВАГУ АЛЕ ТЕЖ СКОПІЮЙТЕ У CODEPEN/SANDBOX */
.ruler {
    width: 150px;
    background-color: lime;
    text-align: center;
}